<nav class="navbar navbar-default" style="margin-top: -50px;">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-left">
	    	<li><a class="menu active" href="/" >Home MbankingImady</a></li>
	    </ul>
      	<ul class="nav navbar-nav navbar-right">
        	<li><a class="menu" href="/team">our team</a></li>
        	<li><a class="menu" href="/contact"> contact us</a></li>
        	<li><%= link_to "sign out", destroy_user_session_path, :method => 'delete' %></li>
      	</ul>
    </div>
</nav>